@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4fefe;
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}